<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Master Password</title>
</head>
<body style="font-family: Verdana, sans-serif">
<h1>Safepass</h1>
<h4>
  This is your master password. It is going to be used to encrypt and decrypt your password vault. <br />
  It is shown only once to you. Make sure to write it down and do not share it with anyone.
</h4>
<label th:text="${masterPassword}">Master password</label>
<a th:href="@{/login}">Proceed to log in page.</a>
</body>
</html>
